<script src="http://code.jquery.com/jquery-latest.js"></script>
<link href="./styleCompare.css" rel="stylesheet" type="text/css"/>

<div id="header">
  <h2 id="headerText">Контроль</h2>
</div>

<div id="error">
  <h2 id="errorText">{{error}}</h2>
</div>

<div class="group">

  <div id="fileUploadForm">
    <form action="/upload" enctype="multipart/form-data" method="post">
      <p><input type="file" name="upl" multiple>
        <input type="submit" value="Отправить">
      </p>
    </form>
  </div>

  <div id="compare">
      <div id="compareTable">
        <table>
          <tr id="tableHeader">
            <th>Дата</th>
            <th>Метры Отчёт</th>
            <th>Метры Датчик</th>
            <th>Разница</th>
          </tr>
        {{#each report}}
          <tr>
            <td>{{this.Дата}}</td>
            <td>{{this.МетрыОтчёт}}</td>
            <td>{{this.МетрыДатчик}}</td>
            <td class="difference">{{this.Разница}}</td>
          </tr>
        {{/each}}
        </table>
      </div>
  </div>

</div>

<div id="footer">
  <a id="footerText" href="http://185.154.12.69:3000/">Статистика</a>
</div>

<script>
  $('td.difference').each(function(){
      var x = $(this).text();
      if (x > 3) $(this).css({color: 'red'});
      if (x < -3) $(this).css({color: 'orange'});
      if ((x <= 3) && (x >= -3)) $(this).css({color: 'green'});
  });
</script>
