<h2 style="color: #2e6c80;">Погонные метры:</h2>
<p>
  <ol>
    <li>Плоттер 1:  {{sum1}}</li>
    <li>Плоттер 2:  {{sum2}}</li>
    <li>Всего:      {{sumAll}}</li>
  </ol>
</p>


{{!-- {{#each plotterSessions}}
    <ul>
        <li>{{id}}</li>
        <li>{{plotter}}</li>
        <li>{{start_time}}</li>
        <li>{{stop_time}}</li>
        <li>{{passes}}</li>
        <li>{{meters}}</li>
    </ul>
{{/each}} --}}
