<p>Meters:</p>
<p>{{result}}</p>

{{!-- {{#each plotterSessions}}
    <ul>
        <li>{{id}}</li>
        <li>{{plotter}}</li>
        <li>{{start_time}}</li>
        <li>{{stop_time}}</li>
        <li>{{passes}}</li>
        <li>{{meters}}</li>
    </ul>
{{/each}} --}}
